.ticket-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.ticket-products .products-list {
  border: 0.1rem solid #cccccc;
  border-radius: .2rem;
  overflow-y: scroll;
  scroll-bar: none;
}

.ticket-products .products-list .listed-product:first-child {
  border-top: none;
}

.ticket-products .products-list .listed-product {
  border-top: 0.1rem solid #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .4rem;
}

.ticket-products .products-list .listed-product .delete-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ticket-products .products-list .listed-product .delete-button svg {
  width: 1.6rem;
}

.ticket-products .products-list .listed-product .product-img {
  width: 36%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ticket-products .products-list .listed-product .product-img img {
  width: 100%;
}

.ticket-products .products-list .listed-product .product-info {
  width: 50%;
}

.ticket-products .products-list .listed-product .product-info .product-category span {
  font-size: 1rem;
  font-weight: lighter;
  font-style: italic;
}

.ticket-products .products-list .listed-product .product-info .product-name {
  font-size: 1rem;
  font-weight: bold;
}

.ticket-products .products-list .listed-product .product-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.ticket-products .products-list .listed-product .product-price span {
  font-size: 1rem;
  font-weight: lighter;
}

.categories-main-content .categories-title {
  margin: 2rem 0;
}

.categories-main-content .categories-title h3 {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.8rem;
  font-weight: lighter;
  opacity: .7;
}

.categories-main-content .categories .categories-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.categories-main-content .categories .categories-buttons button {
  background-color: #999999;
  color: white;
  cursor: pointer;
  margin: 0 0.5rem 1rem 0;
  padding: 1rem;
}

.categories-main-content .categories .categories-buttons :hover {
  opacity: .6;
  color: #000;
  -webkit-transition: .4s;
  transition: .4s;
}

.categories-main-content .categories .categories-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.categories-main-content .categories .categories-container .category {
  border: solid .1rem transparent;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin: 1rem 1rem 0 0;
  padding: .2rem;
}

.categories-main-content .categories .categories-container .category .category-img img {
  width: 20rem;
  height: 10rem;
  margin: 0 0 1rem 0;
}

.categories-main-content .categories .categories-container .category .categories-title {
  margin: 2rem 0;
}

.categories-main-content .categories .categories-container .category .categories-title h3 {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.8rem;
  font-weight: lighter;
  opacity: .7;
}

.categories-main-content .categories .categories-container .category:hover {
  border: solid 0.1rem #999999;
  border-spacing: .2rem;
}
/*# sourceMappingURL=categorias.css.map */