.header-hamburger {

    .hamburger {
        display: block;
        position: relative;
        z-index: 4;
        -webkit-user-select: none;
        user-select: none;
      }
      
      .hamburger span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: hsl(0, 0%, 80%);
        border-radius: 3px;
        z-index: 4;
        transform-origin: 4px 0px;
      
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
      }
      
      .hamburger span:first-child {
        transform-origin: 0% 0%;
      }
      
      .hamburger span:nth-last-child(2) {
        transform-origin: 0% 100%;
      }
      
      .hamburger.active span {
        opacity: 1;
        transform: rotate(45deg) translate(-18px, -20px);
        background: .232323;
      }
      
      .hamburger.active span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }
      
      .hamburger.active span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, 2px);
      }

      /*
       * And let's slide it in from the left
       */
      .hamburger input:checked~ul {
        transform: none;
      }

      // Menu desplegable
      .header-menu {
        background-color: hsl(0, 0%, 50%);
        height: 100vh;
        left: 0;
        opacity: .9;
        position: fixed;
        transition: top 1s;
        top: -100vh;
        width: 50vh;
        z-index: 3;
      
        ul li a {
          text-decoration: none;
          color: .232323;
          transition: color 0.3s ease;
        }
      
        &.active {
          top: 0;
      
          ul {
            margin-top: 4rem;
      
            li {
              padding: 1rem;
              text-align: center;
      
              a {
                color: hsl(0, 0%, 100%);
                font-size: 2rem;
                
                &:hover {
                color: hsl(46, 100%, 20%);
                }
              }
            }
          }
        }
      }
}