.ticket-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.categories-main-content {

    .categories-title {
        margin: 2rem 0;

        h3 {
            margin: auto;
            width: fit-content;
            font-size: 1.8rem;
            font-weight: lighter;
            opacity: .7;
        }
    }

    .categories {

        .categories-buttons {
            display: flex;
            justify-content: flex-start;
            
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: hsl(0, 0%, 60%);
                color: white;
                cursor: pointer;
                margin: 0 .5rem 1rem 0;
                padding: 1rem;
                height: 3rem;

                svg {
                    margin-right: 1rem;
                    width: 1.6rem;
                }
            }
    
            :hover {
                opacity: .6;
                color: #000;
                transition: .4s;
            }
        }
    
        .categories-container {
            display: flex;
            flex-wrap: wrap;
    
            .category {
                cursor: pointer;
                margin: 1rem 1rem 0 0;

                .category-title {
                    text-align: center;
                }

                .category-img {
                    border: solid .1rem transparent;
                    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
                    width: fit-content;

                    &:hover {
                        border: solid .1rem hsl(0, 0%, 60%);
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}